.row-fluid
  .span3
  .span6
    = render "form"
  .span3
.row-fluid
  - if @offers.any?
    %h2.text-center= "Listing #{@offers.count} Offers"
    - @offers.each_with_index do |offer, i|
      .span3.offer{:class => first_row_span_class(i)}
        %h4.title= offer.title
        %span= offer.teaser
        .payout= offer.payout
        %p= offer.time_to_payout
        .thumbnail= image_tag offer.thumbnail, :class => "pull-left"
  - else
    .no_offers.text-center
      %h3 No offers
